:where(.css-dev-only-do-not-override-1gwfwyx).ant-btn-primary:not(
    :disabled
  ):not(.ant-btn-disabled):hover {
  color: #fff;
  background: #ccc;
}

.truncate-description {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
